/*MOBILE FIRST LESS THAN 576Px*/
/*START OF VARIABLE DECLERATIONS*/
:root {
    --duration: 0.4s;
    --main-site-color: #CE1212;
    --default: #212529;
    --section-background: #EEE;
    --white-darkmode: #202020;
    --white: #fff;
}

/*END   OF VARIABLE DECLERATIONS*/
/*START OF GLOBAL STYLE */
*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: "Open Sans", serif;
    color: var(--default);
}

ul {
    margin: 0;
    padding-left: 0;
    list-style-type: none;
}

a {
    text-decoration: none;
    color: inherit;
}

.open-sans {
    font-family: "Open Sans", serif;
}

.inter {
    font-family: "Inter", serif;
}

.amatic {
    font-family: "Amatic SC", serif;
}

.container {
    padding: 0 15px;
    margin: 0 auto;
}

.img-normalize {
    display: block;
    width: 100%;
}

.section-bg {
    background-color: var(--section-background);
}

.main-section-title {
    text-align: center;
}

.main-section-title h2 {
    text-transform: uppercase;
    font-size: 14px;
    color: #9F9F9F;
}

.main-section-title p {
    font-size: 50px;
    margin-top: 10px;
}

.main-section-title p span {
    color: var(--main-site-color);

}

.section-spacing {
    padding: 80px 0;
}

/*END   OF GLOBAL STYLE*/
/*START OF DARK MODE SYSTEM*/
.nav .theme .light,
.nav .theme .dark {
    cursor: pointer;
}

.nav .theme .light {
    display: none;
}

:root:has(#theme-toggler:checked) .nav .theme .light {
    display: block;
}

:root:has(#theme-toggler:checked) .nav .theme .dark {
    display: none;
}

:root:has(#theme-toggler:checked) {
    --main-site-color: #C17E1F;
    --default: white;
    --section-background: #252525;
    --white: black;
}

/*END   OF DARK MODE SYSTEM*/
/*START OF NAV BAR*/
.nav:has(#nav-links:target) {
    height: 100%;
}

#nav-links:target {
    right: 0;
}

.nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: var(--white);
    box-shadow: 0px 0px 14px 0 #0000001b;
    padding: 20px 0;
    z-index: 10;
}

.nav ul {
    position: absolute;
    top: 0;
    right: -100%;
    width: 80%;
    background-color: var(--white);
    border-left: 2px solid #f1f1f1;
    height: 100%;
    transition: right var(--duration) ease;
}

.nav ul li {
    padding: 10px 0 10px 4px;
}

.nav ul li a {
    color: var(--default);
}

.nav .logo {
    color: var(--default);
    font-size: 30px;
    font-weight: 700;
}

.nav .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav .container span {
    color: var(--main-site-color);
}

.nav .container .theme,
.nav .toggler {
    font-size: 18px;
}

/*END   OF NAV BAR*/

/*START OF HEADER SECTION*/
.header {
    padding-top: 150px;
    padding-bottom: 40px;
}

.header .container .img-holder img {
    filter: drop-shadow(4px 4px 9px #000a)
}

.header .container .img-holder img:hover {
    animation-name: shake;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}

.header .container .text {
    text-align: center;
}

.header .container .text h2 {
    font-size: 65px;
    font-weight: 700;
}

.header .container .text p {
    line-height: 25.6px;
}

.header .container .text .btns {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header .container .text .btns a.book-btn {
    text-transform: capitalize;
    color: var(--white);
    background-color: var(--main-site-color);
    padding: 12px 20px;
    border-radius: 100vh;
    margin-bottom: 20px;
    font-size: 14px;
}

.header .container .text .btns a.watch-btn {
    color: var(--default);
    background-color: transparent;
    text-transform: capitalize;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    font-size: 14px;
}

.header .container .text .btns a.watch-btn::before {
    content: "\f04b";
    font-family: "Font Awesome 6 Free";
    font-weight: 900;
    width: 50px;
    height: 50px;
    font-size: 17px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--white);
    border-radius: 50%;
    margin-right: 10px;
    position: relative;
    z-index: 1;
}

.header .container .text .btns a.watch-btn::after {
    content: "";
    position: absolute;
    width: 70px;
    height: 70px;
    background-image: linear-gradient(to right, var(--main-site-color) 0% 50%, transparent 50% 100%);
    border-radius: 50%;
    left: -10px;
}

/*END   OF HEADER SECTION*/

/*START OF CHEFS SECTION */
.chefs {
    background-color: var(--white);
}


.chefs .container .items .item {

    margin-bottom: 20px;
    transition: transform var(--duration) ease;
}

.chefs .container .items .item:hover {
    transform: scale(1.05);
}

.chefs .container .items .item .content {
    text-align: center;
    padding: 10px 25px;
}

.chefs .container .items .item .inner .img-holder {
    position: relative;
}

.chefs .container .items .item .inner .img-holder::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 20%;
    background-image: url(../images/svgs/team-shape.svg);
    bottom: -5px;
}

.chefs .container .items .item .inner {
    position: relative;
    box-shadow: 3px 3px 15px 0px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    overflow: hidden;
}

.chefs .container .items .item .inner:hover ul {
    right: 5%;
}

.chefs .container .items .item .inner ul {
    background-color: #ffffff4d;
    position: absolute;
    top: 5%;
    right: -20%;
    padding: 5px 10px;
    border-radius: 5px;
    transition: right var(--duration) var(--duration) ease;
}

.chefs .container .items .item .inner ul li {
    padding: 10px 5px;
}

/*END   OF CHEFS SECTION */

/*START OF GALLERY SECTION*/
.gallery .images {
    background-color: #ffffff4d;
}
.gallery .images .meal {
    margin-bottom: 20px;
}
.gallery .images .meal .inner {
    position: relative;
    overflow: hidden;
    border: 4px solid white;
}
.gallery .images .meal .inner:hover .layer {
    top: 0%;
}
.gallery .images .meal .inner img {
    transition: transform var(--duration) ease;
}
.gallery .images .meal .inner:hover img {
    transform: scale(1.07);
}
.gallery .images .meal .inner .layer {
    text-align: center;
    position: absolute;
    color: var(--white);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    top: 100%;
    left: 0;
    width: 100%;
    height: 100%;
    transition: top var(--duration) ease;
    background-color: rgba(0, 0, 0, 0.5);
}
.gallery .images .meal .inner .layer h2 {
    margin: 5px 0;
}
.gallery .images .meal .inner .layer p {
    margin: 0;
}
/*END   OF GALLERY SECTION*/