/*CUSTOM MEDIA*/
@media screen and (min-width: 400px) {
    .header .container .text .btns {
        flex-direction: row;
        justify-content: center;
    }

    .header .container .text .btns a.book-btn {
        margin-bottom: 0;
        margin-right: 30px;
    }
}

/*EXTRA SMALL SCREENS */
@media screen and (min-width: 576px) {
    .container {
        max-width: 540px;
    }
}

/*MEDIUM  SCREENS */
@media screen and (min-width: 768px) {
    .container {
        max-width: 720px;
    }

    /*START OF NAVIGATION BAR*/
    .nav .toggler {
        display: none;
    }

    .nav ul {
        position: static;
        display: flex;
        align-items: center;
        justify-content: center;
        border-left: 0;
    }

    .nav ul li {
        padding: 0 10px;
    }

    .nav ul li a {
        position: relative;
    }

    .nav ul li:hover a::after {
        right: 0;
    }

    .nav ul li a::after {
        content: "";
        position: absolute;
        height: 1.5px;
        bottom: -5px;
        left: 0;
        right: 100%;
        background-color: var(--main-site-color);
        transition: right var(--duration);
    }

    .nav ul .home-toggler {
        display: none;
    }

    /*END   OF NAVIGATION BAR*/

    .chefs .container .items {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: flex-start;
    }

    .chefs .container .items .item {
        width: 50%;
        padding: 0 15px;
    }

    .gallery .container .images {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        height: 1290px;
    }

    .gallery .container .images .meal {
        width: 50%;
        padding: 0 15px;
    }
}

/*LARGE  SCREENS */
@media screen and (min-width: 992px) {
    .container {
        max-width: 960px;
    }

    .header .container {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .header .container .text {
        order: 1;
        text-align: start;
        width: 40%;
    }

    .header .container .text .btns a.book-btn {
        margin-bottom: 0;
        margin-right: 50px;
    }

    .header .container .img-holder {
        order: 2;
        width: 40%;
    }

    .header .container .text .btns a.book-btn {
        border-top-left-radius: 0;
    }

    .chefs .container .items .item {
        width: 33.33%;
    }

    .order-1 {
        order: 1;
    }

    .order-2 {
        order: 2;
    }

    .order-3 {
        order: 3;
    }

    .order-4 {
        order: 4;
    }

    .order-5 {
        order: 5;
    }

    .order-6 {
        order: 6;
    }

    .order-7 {
        order: 7;
    }

    .gallery .container .images {
        height: 785px;
    }

    .gallery .container .images .meal {
        width: 33.333%;
        padding: 0 15px;
    }
}

/*EXTRA LARGE  SCREENS */
@media screen and (min-width: 1200px) {

    .container {
        max-width: 1140px;
    }

    .gallery .container .images {
        height: 1105px;
    }

    .header {
        min-height: 100vh;
    }

    .header .container .text .btns {
        justify-content: flex-start;
    }
}

/*EXTRA EXTRA LARGE  SCREENS */
@media screen and (min-width: 1400px) {
    .container {
        max-width: 1320px;
    }

}